<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>結婚式の余興.jp</title>
	<meta property="og:title" content="結婚式の余興.jp | 余興を考えるとき参考になる動画集めました" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://wedding.mashroom.in" />
	<meta property="og:image" content="http://wedding.mashroom.in/images/icon200.png" />
	<link rel="shortcut icon" href="images/favicon.png">
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.17.2/build/cssreset/cssreset-min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div id="wrapper">
		<h1>結婚式の余興.jp</h1>
		<h3>結婚式の余興を考えるときに参考になる動画を集めました</h3>

		<!-- sns button -->
		<div id="social-badge">
			<div class="fb-like" data-href="http://wedding.mashroom.in" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>

			<div class="tw-share">
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://wedding.mashroom.in" data-text="結婚式の余興.jp - 余興を考えるとき参考になる動画集めました" data-via="himara2" data-lang="ja" data-related="himara2">ツイート</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			</div>

			<a href="http://b.hatena.ne.jp/entry/wedding.mashroom.in" class="hatena-bookmark-button" data-hatena-bookmark-title="結婚式の余興.jp - 余興を考えるとき参考になる動画集めました" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
		</div>
		<!-- /sns button -->

		<div id ="main-contents">
			<div id="movie-wedding">
				<div id="container"></div>
			</div>

			<div id="twitter-wedding">
				<!-- ad -->
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- wedding-right-top -->
				<ins class="adsbygoogle"
				     style="display:inline-block;width:336px;height:280px"
				     data-ad-client="ca-pub-5042077439159662"
				     data-ad-slot="5352313353"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
				<!-- /ad -->

				<!-- twitter card-->
				<h2>みんなの余興</h2>
				<a class="twitter-timeline" width="336" height="600" href="https://twitter.com/search?q=%E7%B5%90%E5%A9%9A%E5%BC%8F%E3%81%AE%E4%BD%99%E8%88%88" data-widget-id="495781634184998912">結婚式の余興 に関するツイート</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				<!-- /twitter card -->

				<!-- amazon widget -->
				<h2 id="amazon-title">新婚さんにプレゼント</h2>
				<div id="amazon-widget">
					<script type="text/javascript"><!--
					amazon_ad_tag = "samura1-22"; amazon_ad_width = "300"; amazon_ad_height = "250"; amazon_ad_link_target = "new"; amazon_ad_border = "hide"; amazon_color_border = "EBE9E9"; amazon_color_text = "333333"; amazon_color_price = "E13535"; amazon_color_logo = "2D6AB3"; amazon_ad_include = "結婚式;結婚;祝い";//--></script>
					<script type="text/javascript" src="http://ir-jp.amazon-adsystem.com/s/ads.js"></script>
				</div>
				<!-- /amazon widget -->

				<!-- ad -->
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- wedding-right-top -->
				<ins class="adsbygoogle"
				     style="display:inline-block;width:336px;height:280px"
				     data-ad-client="ca-pub-5042077439159662"
				     data-ad-slot="5352313353"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
				<!-- /ad -->

			</div>
		</div>

		<!-- paging -->
		<div id="paging">
			<div id="go-prev" class="paging-btn"><< 前へ</div>
			<div id="go-next" class="paging-btn">次へ >></div>
		</div>
		<!-- /paging -->

		<div id="addMovie">
			<p id="addMovieDescription">動画はどなたでも追加できます（不適切なものは削除します）</p>
			<input type="text" name="url" class="youtubeUrlField" placeholder="Youtubeの動画URLをここに"/>
			<button id="post_movie">登録する</button>
		</div>

		<div id="footerAd">
			<!-- ad -->
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- wedding-footer -->
			<ins class="adsbygoogle"
			     style="display:inline-block;width:728px;height:90px"
			     data-ad-client="ca-pub-5042077439159662"
			     data-ad-slot="3735979358"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
			<!-- /ad -->
		</div>

		<!-- sns button -->
		<div id="social-badge">
			<div class="fb-like" data-href="http://wedding.mashroom.in" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>

			<div class="tw-share">
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://wedding.mashroom.in" data-text="結婚式の余興.jp - 余興を考えるとき参考になる動画集めました" data-via="himara2" data-lang="ja" data-related="himara2">ツイート</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			</div>

			<a href="http://b.hatena.ne.jp/entry/wedding.mashroom.in" class="hatena-bookmark-button" data-hatena-bookmark-title="結婚式の余興.jp - 余興を考えるとき参考になる動画集めました" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
		</div>
		<!-- /sns button -->

		<!-- footer -->
		<div id="footer">
			<p id="copyright">
				Copyright &copy; <a href="https://twitter.com/himara2" target="_blank">@himara2</a> All Rights Reserved.
			</p>
		</div>
	</div>
	<!-- /wrapper -->

	<!-- for facebook -->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
  	var js, fjs = d.getElementsByTagName(s)[0];
  	if (d.getElementById(id)) return;
  	js = d.createElement(s); js.id = id;
  	js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
  	fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<!-- /for facebook -->

	<!-- for jsrender template -->
	<script id="movieTemplate" type="text/x-jsrender">
    	<div class="movieContent">
    		<p class="embed-player">
    			<iframe width="550" height="340"
    		 	src="//www.youtube.com/embed/{{:youtubeId}}" 
    		 	frameborder="0" allowfullscreen>
    		 	</iframe>
    		</p>
    		<p class="title"><a href="{{:url}}" target="_blank">{{:title}}</a></p>
    	</div>
  	</script>
  	<!-- /jsrender -->

  	<!-- google analytics -->
  	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-53463352-1', 'auto');
	  ga('send', 'pageview');
	</script>
	<!-- /analytics -->


	<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="js/jsrender.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>