@font-face {
	font-family:'kiloji';
	src: url('./kiloji.ttf');
}

body {
	font: 14px "kiloji", Helvetica, Arial, sans-serif;
	color: #333;
	background-color: #eee;
}

a {
  color: #00B7FF;
}

#wrapper {
	width: 1000px;
	padding: 10px 0 0;
	margin: 0 auto;
	background-color: #fff;
}

h1 {
	font-size: 52px;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 15px;
}

h2 {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 15px;

	padding: 8px 0;
	background-color: #ddd;

}

h3 {
	text-align: center;
	font-size: 15px;
	margin-bottom: 30px;
	color: #444;
}

#social-badge {
	width: 350px;
	text-align: center;
	margin:0 auto 40px;
	display: -webkit-box;
	display: -moz-box;
}

.tw-share {
	margin: 0 10px 0 20px;
	width: 100px;
}

#main-contents {
	display: -webkit-box;
	display: -moz-box;

	width: 925px;
	margin: 0 auto;
}

#movie-wedding {
	width: 550px;
	margin-right:35px;
}

.movieContent {
	width: 550px;
	margin: 0 auto 60px;
}

.title {
	font-size: 16px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 7px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.movieContent a {
	color: #333;
}

.movieContent:hover a{
	color: #00B7FF;
}

.embed-player {
	text-align: center;
}


/** add movie **/
#addMovie {
	width: 728px;
	margin: 0px auto 40px;
	padding: 16px 0;
	text-align: center;
	border: solid 1px #eee;
	background-color: #efefef;
	display: box;
}

#addMovieDescription {
	margin-bottom: 8px;
}

.youtubeUrlField {
	padding: 8px 5px;
	font-size: 18px;
	width: 68%;
	border: 1px solid #ddd;
	margin-right: 10px;
}

#post_movie {
	padding: 9px 0;
	font-size:16px;
	font-family: "kiloji";
	background: #eee;
	border: 1px solid #ddd;
	color: #111;
	width: 100px;
	cursor: pointer;
}

#post_movie:hover {
	background: #00B7FF;
	border: 1px solid #00B7FF;
	color: #eee;
}

#footerAd {
	width: 728px;
	margin: 0 auto 50px;
}


#footer {
	background-color: #eee;
	text-align: center;
	padding: 20px 0 50px;
}

#copyright {
	font-family: "Helvetica";
}

/** Paging **/
.paging-btn {
	padding: 8px 30px;
	border: 1px solid #eee;
	background-color: #ddd;
	color: #666;
	width: 50px;
	margin: 0 5px;
	cursor: pointer;
}

.paging-btn:hover {
	color: #00B7FF;
	background-color: #eee;
}

.disable {
	background-color: #fff;
	color: #ccc;
	cursor: default;
}

.disable:hover {
	background-color: #fff;
	color: #ccc;
	cursor: default;
}

#paging {
	width: 244px;
	text-align: center;
	margin: 0 auto 20px;

	display: -webkit-box;
	display: -moz-box;
}



/** Amazon **/
#amazon-title {
	margin-top: 50px;
}

#amazon-widget {
	width: 336px;
	padding: 0 18px;
	margin-bottom: 70px;
}

/** Twitter **/

#twitter-wedding {
	font-size: 14px;
	width: 336px;
	margin-bottom:20px;
}